button {
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
    display: block;
}

button:hover {
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

h1 {
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: rgb(65,65,67);
}

h5 {
    text-align: right;
    color: rgb(65,65,67);
}