.loginBox {
    background-color: teal;
}
.content {

}

.inputField {
}

.loginForm {
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
    display: block;
}

.loginInput {
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
    display: block;
}

.col {

}
