.loginBox {
    background-color: teal;
}
.content {

}

.inputField {

    text-align: center;
}

.loginForm {
    width: 50%;
    margin: auto;
}

.loginInput {
    width: 50%;
    margin: auto; 
}

.col {

}
