/* .loginBox {
    background-color: teal;
    padding: 20px
} */

.inputField {
    text-align: center;
}

.loginForm {
    width: 50%;
    margin: auto;
}

.loginInput {
    width: 50%;
    margin: auto; 
}


